{% extends "layout_form_profile.html" %}
{% block body %}

<section class="section">
    <div class="container" style="width:700px">
        <h1 class="title">Enter Body Parameters</h1>
        <div class="box">
            <form id="bodyparamForm" action="/body_parameters" method="POST">
                <div class="field">
                    <label class="label">Body Weight (kg)</label>
                    <div class="control">
                        <input class="input" type="number" name="weight" step="any" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Height (m)</label>
                    <div class="control">
                        <input class="input" type="number" name="height" step="any" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Body Type
                        <div class="dropdown is-hoverable">
                            <div class="dropdown-tigger">
                                <span class="icon is-small">
                                    <i class="fas fa-question-circle" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                <div class="dropdown-content">
                                    <div class="dropdown-item">
                                        <p><strong>Ectomorph:</strong> Slim and lean.</p>
                                    </div>
                                    <div class="dropdown-item">
                                        <p><strong>Mesomorph:</strong> Muscular and well-built.</p>
                                    </div>
                                    <div class="dropdown-item">
                                        <p><strong>Endomorph:</strong> Higher body fat percentage.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </label>
                    <div class="control">
                        <div class="select">
                            <select name="body_type" required>
                                <option value="">Select Body Type</option>
                                <option value="ectomorph">Ectomorph</option>
                                <option value="mesomorph">Mesomorph</option>
                                <option value="endomorph">Endomorph</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Flashed Messages Section -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <div class="columns">
            <div class="column">
                <form action="/init_schedule" class="field has-text-left is-size-1" method="POST">
                    <button type="submit">
                        <span class="icon">
                            <i class="fas fa-long-arrow-left"></i>
                        </span>
                    </button>
                </form>
            </div>
            <div class="column">
                <form action="/init_schedule" class="field has-text-right is-size-1" method="POST">
                    <button type="submit" form="bodyparamForm">
                        <span class="icon">
                            <i class="fas fa-long-arrow-right"></i>
                        </span>
                    </button>
                </form>
            </div>
        </div>

        <form action="/logout"><input type="submit" class="button has-background-danger" value="Log Out"></form>

    </div>

</section>

{% endblock %}