{% extends "layout_main.html" %}
{% block body %}
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
  >
<form action="{{ url_for('submit_pass') }}" method ="post" class="submit_pass">
    <div class="container is-max-tablet">
  <div class="notification is-danger">
<dl>

      <dt class="title is-5">Password:
      <dd><input class='input' type="password" size="20" name="password">
      <dt class="title is-5">Password Confirmation:
      <dd><input class='input' type="password" size="20" name="password_c">
      <dd><input type="submit" class="button has-text" value="Change Password">
</dl>
  </div>
    </div>
</form>

{% endblock %}