{% extends "layout.html" %}
{% block body %}
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

<form action="{{ url_for('valid_fp') }}" method ="post" class="valid_fp">
    <div class="container is-max-tablet">
  <div class="notification is-danger">
<dl>
      <dt class="title is-5">Username:
      <dd><input class='input' type="text" size="30" name="username">
      <dt class="title is-5">Email
      <dd><input class='input' type="text" size="20" name="email">
      <dd><input type="submit" class="button has-text" value="Send Email">
</dl>
  </div>
    </div>
</form>
{% endblock %}