<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <!-- title of page -->
    <title>Accounts</title>
</head>

<!-- renders all accounts usernames with their hashed password next to them-->
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">User Accounts</h1>
            <table class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user['id'] }}</td>
                        <td>{{ user['username'] }}</td>
                        <td>{{ user['password'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>