<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <!-- styling for box -->
    <style>
        .box {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>
    <section class="section">
        <div class="columns is-centered">

            <!-- makes login box 2/5 of screen horizontally-->
            <div class="column is-two-fifths">
                <div class="box">
                    <h1 class="title is-4 mb-0">Sign In</h1>
                    <p>Welcome back! Please log in to continue.</p>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div>
                                {% for category, message in messages %}
                                    {% if category == "login" %}
                                        <div class="notification is-danger">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}

                    <!-- form for sign-in -->
                    <form action="/login" method="POST" class="mt-4">
                        <div class="control">
                            <input class="input" type="text" name="username" placeholder="Username" required>
                        </div>
                        <div class="control mt-2">
                            <input class="input" type="password" name="password" placeholder="Password" required>
                        </div>
                        <button class="button is-primary is-fullwidth is-rounded mt-4">Log In</button>
                    </form>

                    <p style="display: inline;">Don't have an account?</p>
                    <a href="/" class="has-text-primary" style="display: inline;">Create an account</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>